:root {
    --duration: 600ms;
    --heart: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='52' height='52'%3E%3Cpath fill-rule='evenodd' fill='%23f00' d='M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    perspective: 50em;
    background: #f1f1f1;
}

.flip-card {
    background: transparent;
}

.flip-card__content {
    position: relative;
    transition: transform var(--duration) ease-in-out;
    transform-style: preserve-3d;
}

.flip-card__front,
.flip-card__back {
    overflow: hidden;
    backface-visibility: hidden;
}

.flip-card__front {
    transform: translateZ(1px);
}

.flip-card__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotateY(180deg) translateZ(-1px);
}

.flip-card:hover > .flip-card__content,
.flip-card.flip-card--flipped > .flip-card__content {
    transform: rotateY(180deg);
}

.flip-card img {
    max-width: 100%;
}

/*
 * Demo Styles
 */

.text-center {
    text-align: center;
}

.mt-8 {
    margin-top: 2rem;
}

/*
 * Playing Card
 */

.playing-card {
    width: 2.5in;
    height: 3.5in;
    background: white;
    border-radius: .8em;
    font-family: "Times New Roman", serif;
}

.playing-card--front {
    position: relative;
    background-position: center center;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    color: red;
    background-image: var(--heart);
}

.playing-card--front::before,
.playing-card--front::after {
    content: "A";
    font-size: 2em;
    position: absolute;
    display: block;
    left: .5em;
    top: .5em;
    height: 1.7em;
    background-position: center bottom;
    background-size: .8em .8em;
    background-repeat: no-repeat;
    background-image: var(--heart);
    line-height: 1;
}

.playing-card--front::after {
    left: auto;
    right: .5em;
    top: auto;
    bottom: .5em;
    transform: rotate(180deg);
}

.playing-card--back {
    border: .75em solid white;
    background-position: center center;
    background-color: #ff9191;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}

/*
 * Button
 */

button {
    display: inline-flex;
    color: white;
    padding: .5rem 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    border-width: 1px;
    border-radius: .375rem;
    border-color: transparent;
    background-color: rgba(79,70,229,1);
    -webkit-appearance: button;
    cursor: pointer;
}
