:root {
    --duration: 600ms;
}

.flip-card {
    background: transparent;
}

.flip-card__content {
    position: relative;
    transition: transform var(--duration) ease-in-out;
    transform-style: preserve-3d;
}

.flip-card__front,
.flip-card__back {
    overflow: hidden;
    backface-visibility: hidden;
}

.flip-card__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotateY(180deg);
}

.flip-card:hover > .flip-card__content,
.flip-card.flip-card--flipped > .flip-card__content {
    transform: rotateY(180deg);
}

.flip-card img {
    max-width: 100%;
}
